@tailwind base;
@tailwind components;
@tailwind utilities;

/* Para Chrome, Edge, e Safari */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Cor do rastro da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #6f11a2; /* Cor da barra de rolagem */
  border-radius: 6px; /* Arredondamento das bordas */
  border: 2px solid #f0f0f0; /* Borda externa */
}

/* Para Firefox */
* {
  scrollbar-width: thin; /* "auto" ou "thin" */
  scrollbar-color: #6f11a2 #f0f0f0; /* Cor da barra e cor do rastro */
}
